@page "/empresas/editar/{id}"
@inherits EditCompanyPage

<MudText Typo="Typo.h4" Class="mt-4">Editar Empresa</MudText>
@if (IsBusy)
{
    <MudSkeleton Height="55px" />
    <MudSkeleton Height="110px" />
    <MudSkeleton Height="55px" />
    <MudSkeleton Height="110px" />
    <MudSkeleton Height="55px" />
}
else
{
    <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
        <DataAnnotationsValidator />

        <MudPaper Class="pa-4 mt-4">
            <MudGrid Justify="Justify.Center">
                <MudItem sm="12" md="2">
                    <MudImage Class="mt-2" Src="@FileImage" ObjectFit="ObjectFit.Cover" Height="200" Width="200" Fluid />
                    <MudButton HtmlTag="label"
                               Variant="Variant.Filled"
                               Color="Color.Tertiary"
                               StartIcon="@Icons.Material.Filled.PhotoCamera"
                               Class="mt-2"
                               FullWidth>
                        <MudFileUpload T="IBrowserFile"
                                       Accept=".jpg"
                                       FilesChanged="UploadFile"
                                       Style="display:none;" />
                        IMAGEM
                    </MudButton>
                </MudItem>
                <MudItem sm="12" md="10">
                    <MudText Typo="Typo.h6">Dados</MudText>
                    <MudGrid>
                        <MudItem sm="12" md="7">
                            <MudTextField Label="Razão Social"
                                          Placeholder="Nome formal da empresa"
                                          @bind-Value="InputModel.Name"
                                          For="@(() => InputModel.Name)" />
                        </MudItem>
                        <MudItem sm="12" md="5">
                            <MudTextField Label="CNPJ"
                                          Placeholder="CNPJ"
                                          @bind-Value="InputModel.Cnpj"
                                          For="@(() => InputModel.Cnpj)" />
                        </MudItem>
                    </MudGrid>
                    <MudGrid>
                        <MudItem sm="12" md="12" Class="mt-1">
                            <MudTextField Label="Nome Fantasia"
                                          Placeholder="Nome comercial da empresa"
                                          @bind-Value="InputModel.TradingName"
                                          For="@(() => InputModel.TradingName)" />
                        </MudItem>
                    </MudGrid>
                    <MudText Typo="Typo.h6" Class="mt-6">Endereço</MudText>
                    <MudGrid>
                        <MudItem sm="12" md="3">
                            <MudTextField Label="CEP"
                                          Placeholder="CEP"
                                          @bind-Value="InputModel.Address.ZipCode"
                                          For="@(() => InputModel.Address.ZipCode)" />
                        </MudItem>
                        <MudItem sm="12" md="4">
                            <MudTextField Label="Logradouro"
                                          Placeholder="Logradouro"
                                          @bind-Value="InputModel.Address.Street"
                                          For="@(() => InputModel.Address.Street)" />
                        </MudItem>
                        <MudItem sm="12" md="2">
                            <MudTextField Label="Número"
                                          Placeholder="Número"
                                          @bind-Value="InputModel.Address.Number"
                                          For="@(() => InputModel.Address.Number)" />
                        </MudItem>
                        <MudItem sm="12" md="3">
                            <MudTextField Label="Bairro"
                                          Placeholder="Bairro"
                                          @bind-Value="InputModel.Address.Neighborhood"
                                          For="@(() => InputModel.Address.Neighborhood)" />
                        </MudItem>
                    </MudGrid>
                    <MudGrid>
                        <MudItem sm="12" md="5" Class="mt-1">
                            <MudTextField Label="Cidade"
                                          Placeholder="Cidade"
                                          @bind-Value="InputModel.Address.City"
                                          For="@(() => InputModel.Address.City)" />
                        </MudItem>
                        <MudItem sm="12" md="2">
                            <MudTextField Label="UF"
                                          Placeholder="UF"
                                          @bind-Value="InputModel.Address.State"
                                          For="@(() => InputModel.Address.State)" />
                        </MudItem>
                        <MudItem sm="12" md="5">
                            <MudTextField Label="Complemento"
                                          Placeholder="Complemento"
                                          @bind-Value="InputModel.Address.Complement"
                                          For="@(() => InputModel.Address.Complement)" />
                        </MudItem>
                    </MudGrid>
                    <div class="d-flex justify-end">
                        <MudButton ButtonType="ButtonType.Submit"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.Save"
                                   Class="mt-4">
                            Salvar
                        </MudButton>
                    </div>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </EditForm>
}
