@page "/funcionarios/editar/{id}"
@using AgencyManager.Web.Components.Contact
@inherits EmployeeEditPage

<MudText Typo="Typo.h4" Class="mt-4">Editar Colaborador</MudText>
@if (IsBusy)
{
    <MudSkeleton Height="55px" />
    <MudSkeleton Height="110px" />
    <MudSkeleton Height="55px" />
    <MudSkeleton Height="110px" />
    <MudSkeleton Height="55px" />
}
else
{
    <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
        <DataAnnotationsValidator />

        <MudPaper Class="pa-4 mt-4">
            <MudGrid>
                <MudItem md="6" sm="12">
                    <MudText Typo="Typo.h6">Dados do colaborador</MudText>
                </MudItem>
                <MudItem md="6" sm="12" Class="d-flex justify-end">
                    @if (InputModel.Active is true)
                    {
                        <MudSwitch @bind-Value="InputModel.Active" onclick="ChangeState" Label="Em atividade" Color="Color.Success" />
                    }
                    else
                    {
                        <MudSwitch @bind-Value="InputModel.Active" onclick="ChangeState" Label="Desligado" UncheckedColor="Color.Error" />
                    }
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem sm="12" md="6" Class="mt-1">
                    <MudTextField Label="Nome Completo"
                    Placeholder="Ex: José da Silva"
                    @bind-Value="InputModel.Name"
                    For="@(() => InputModel.Name)" />
                </MudItem>
                <MudItem sm="12" md="3" Class="mt-1">
                    <MudTextField Label="CPF"
                    Placeholder="CPF"
                    MaxLength="11"
                    @bind-Value="InputModel.Cpf"
                    For="@(() => InputModel.Cpf)" />
                </MudItem>
                <MudItem sm="12" md="3" Class="mt-1">
                    <MudTextField Label="RG"
                    Placeholder="RG"
                    @bind-Value="InputModel.Rg"
                    For="@(() => InputModel.Rg)" />
                </MudItem>
            </MudGrid>

            <MudGrid>
                @if (InputModel.Active is true)
                {
                    <MudItem sm="12" md="4" Class="mt-1">
                        <MudSelect T="int"
                        Label="Selecione um cargo"
                        Text="Selecione um cargo"
                        For="@(() => InputModel.PositionId)"
                        @bind-Value="InputModel.PositionId">
                            @foreach (var value in Agency.Positions)
                            {
                                <MudSelectItem Value="@value.Id">@value.Description</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem sm="12" md="4" Class="mt-1">
                        <MudDatePicker Label="Data de nascimento"
                        Mask="@(new DateMask("dd/MM/yyyy"))"
                        Editable="true"
                        DateFormat="dd/MM/yyyy"
                        @bind-Date="InputModel.BirthDay"
                        For="@(() => InputModel.BirthDay)" />

                    </MudItem>
                    <MudItem sm="12" md="4" Class="mt-1">
                        <MudDatePicker Label="Data de contratação"
                        Editable="true"
                        Mask="@(new DateMask("dd/MM/yyyy"))"
                        DateFormat="dd/MM/yyyy"
                        @bind-Date="InputModel.DateHire"
                        For="@(() => InputModel.DateHire)" />
                    </MudItem>
                }
                else
                {
                    <MudItem sm="12" md="3" Class="mt-1">
                        <MudSelect T="int"
                        Label="Selecione um cargo"
                        Text="Selecione um cargo"
                        For="@(() => InputModel.PositionId)"
                        @bind-Value="InputModel.PositionId">
                            @foreach (var value in Agency.Positions)
                            {
                                <MudSelectItem Value="@value.Id">@value.Description</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem sm="12" md="3" Class="mt-1">
                        <MudDatePicker Label="Data de nascimento"
                        Mask="@(new DateMask("dd/MM/yyyy"))"
                        Editable="true"
                        DateFormat="dd/MM/yyyy"
                        @bind-Date="InputModel.BirthDay"
                        For="@(() => InputModel.BirthDay)" />

                    </MudItem>
                    <MudItem sm="12" md="3" Class="mt-1">
                        <MudDatePicker Label="Data de contratação"
                        Editable="true"
                        Mask="@(new DateMask("dd/MM/yyyy"))"
                        DateFormat="dd/MM/yyyy"
                        @bind-Date="InputModel.DateHire"
                        For="@(() => InputModel.DateHire)" />
                    </MudItem>
                    <MudItem sm="12" md="3" Class="mt-1">
                        <MudDatePicker Label="Data de demissão"
                        Editable="true"
                        Mask="@(new DateMask("dd/MM/yyyy"))"
                        DateFormat="dd/MM/yyyy"
                        @bind-Date="InputModel.DateDismiss"
                        For="@(() => InputModel.DateDismiss)" />
                    </MudItem>
                }
            </MudGrid>
            @if (string.IsNullOrEmpty(InputModel.UserLogin))
            {
                <MudGrid>
                    <MudItem>
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Dark"
                                   Size="Size.Small"
                                   OnClick="OnCreateUserButtonClickedAsync"
                                   StartIcon="@Icons.Material.Filled.Key"
                                   Class="mt-2">
                            Criar Usuário
                        </MudButton>
                    </MudItem>
                </MudGrid>
            }          
            <MudText Typo="Typo.h6" Class="mt-6">Endereço</MudText>
            <UpdateAddress AddressModel="InputModel.Address" />

            <MudText Typo="Typo.h6" Class="mt-5">Lista de contatos</MudText>
            <UpdateContact Contacts="InputModel.Contacts" />
            
            <div class="d-flex justify-end">
                <MudButton ButtonType="ButtonType.Submit"
                            Variant="Variant.Filled"
                            Color="Color.Primary"
                            StartIcon="@Icons.Material.Filled.Save"
                            Class="mt-2">
                    Salvar Alterações
                </MudButton>
            </div>

        </MudPaper>
    </EditForm>
}